.Actionbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #efefef;
  background-color: #1a3a4c;
  color: #2a2a2a;
  color: #eeeeee;
  /*border-top: 1px solid #cccccc;*/
  box-shadow: 0px 0px 5px 1px rgb(0, 0, 0, 0.5);
}

.ActionbarButton {
  width: 30px;
  height: 30px;

  border: none;
  background-color: transparent;
  margin-left: 2px;
  border-radius: 2px;
  cursor: pointer;
}

.ActionbarButton-active, .ActionbarButton:hover {
  background-color: #bbbbbb;
  color: rgb(25, 25, 255);
}

.Actionbar-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Actionbar-section:first-child > span { margin-right: auto; }

.Actionbar-section:last-child > span { margin-left: auto; }
