.Actionbar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #efefef;
  color: #2a2a2a;
  border-top: 1px solid #cccccc;
}

.ActionbarButton {
  width: 30px;
  height: 30px;

  border: none;
  background-color: transparent;
  margin-left: 2px;
  border-radius: 2px;
  cursor: pointer;
}

.ActionbarButton-active, .ActionbarButton:hover {
  background-color: #bbbbbb;
  color: rgb(25, 25, 255);
}

.Actionbar-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Actionbar-section:first-child > span { margin-right: auto; }

.Actionbar-section:last-child > span { margin-left: auto; }
