.Actionbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-col-darker);
  color: var(--text-col-darker);
  border-top: 1px solid #cccccc;
}

.ActionbarButton {
  width: 30px;
  height: 30px;

  border: none;
  background-color: transparent;
  margin-left: 2px;
  border-radius: 2px;
  cursor: pointer;
}

.ActionbarButton-active, .ActionbarButton:hover {
  background-color: var(--button-active-bg);
}

.Actionbar-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Actionbar-section:first-child > span { margin-right: auto; }

.Actionbar-section:last-child > span { margin-left: auto; }
