@import 'theme.css';

::-webkit-scrollbar {
  width: var(--scollbar-width);
}

::-webkit-scrollbar-track {
  background-color: var(--scrollbar-track-col);
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-col);
  border-radius: 10px;
}

body {
  background-color: #F4F8F9;//var(--bg-col);
  font-family: Avenir;
}

h1, h2, h3, h4, h5, h6 {
  /* Chrome sets h1 to bold by default */
  font-weight: normal;
}

button {
  color: inherit;
}

textarea:focus, input:focus, button:focus, [contenteditable] {
  outline: none;
}

#root {
}

.App {
}

.blue-button {
  background-color: var(--light-blue);
  font-weight: bold;
  color: rgba(64, 64, 64, 0.84);
  border: none;
  padding: 10px;
  margin: 10px;
  float: right;
  transition: color 0.5s;
}

.blue-button:hover {
  cursor: pointer;
  color: var(--text-col);
}
