@import 'theme.css';

::-webkit-scrollbar {
  width: var(--scollbar-width);
}

::-webkit-scrollbar-track {
  background-color: var(--scrollbar-track-col);
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-col);
  border-radius: 10px;
}


h1, h2 {
  /* Chrome sets h1 to bold by default */
  font-weight: normal;
}

button {
  color: inherit;
}

textarea:focus, input:focus, button:focus, [contenteditable] {
  outline: none;
}

#root {
}

.App {
}
