::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-track {
  background-color: #eeeeee;
}

::-webkit-scrollbar-thumb {
  background-color: #cccccc;
  border-radius: 10px;
}


h1, h2 {
  /* Chrome sets h1 to bold by default */
  font-weight: normal;
}

button {
  color: inherit;
}

textarea:focus, input:focus, button:focus, [contenteditable] {
  outline: none;
}

#root {
}

.App {
}
