@font-face {
  font-family: Muli;
  src: url('./fonts/Muli/Muli-Regular.ttf') format('truetype');
}

@font-face {
  font-family: Merriweather;
  src: url('./fonts/Merriweather/Merriweather-Light.ttf') format('truetype');
}

@font-face {
  font-family: Avenir;
  src: url('./fonts/avenir_next/AvenirNextLTPro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.Editor-screen {
  max-height: 100vh;
  display: flex;
  flex-direction: column;
}

.Editor {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  /*background-color: rgb(250, 250, 250);*/
  background-color: #f9f9f9;
}

.Editor-content {
  flex: 1;
  max-width: 850px;
  margin: 0 auto;

  /*font-family: Muli;*/
  font-family: Merriweather;
  /*font-family: Avenir, sans-serif;*/
  font-size: 19px;
  line-height: 1.7;

  color: rgba(0, 0, 0, 0.84);
}

.Editor-content ::selection {
  background-color: lightblue;
}

.Editor-content p {
  margin: 0;
  padding: 0;
}

.Editor-content h1, h2 {
  margin: 0;
  padding: 0;
}

.Editor-content h1, h2 {
  text-align: left !important; /* wtf */
}
