@font-family {
  font-family: "Avenir Next";
  src: url('./fonts/avenir_next/AvenirNextLTPro-Regular.otf') format('otf');
}

.Editor-screen {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.Editor {
  flex: 1;
}

.Editor-content {
  height: 100%;
  overflow-y: scroll;

  font-size: 18px;
  font-family: "Times New Roman";
}

.Editor-content p {
  margin: 0;
  padding: 0;
}

.Editor-content h1, h2 {
  margin: 0;
  padding: 0;
}

.Editor-content h1, h2 {
  text-align: left !important; /* wtf */
}

.Actionbar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #efefef;
  color: #2a2a2a;
  border-top: 1px solid #cccccc;
}

.ActionbarButton {
  width: 30px;
  height: 30px;

  border: none;
  background-color: transparent;
  margin-left: 2px;
  border-radius: 2px;
}

.ActionbarButton-active, .ActionbarButton:hover {
  background-color: #bbbbbb;
}

.Actionbar-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Actionbar-section:first-child > span { margin-right: auto; }

.Actionbar-section:last-child > span { margin-left: auto; }

