@font-face {
  font-family: Muli;
  src: url('./fonts/Muli/Muli-Regular.ttf') format('truetype');
}

@font-face {
  font-family: Merriweather;
  src: url('./fonts/Merriweather/Merriweather-Light.ttf') format('truetype');
}

@font-face {
  font-family: Avenir;
  src: url('./fonts/avenir_next/AvenirNextLTPro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.Editor-screen {
  min-height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
}

.Editor {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  background-color: var(--bg-col);
}

.Editor-content {
  flex: 1;
  width: 60%;
  max-width: 850px;
  min-width: 0px;

  margin: 15px auto 80vh auto;

  font-family: Merriweather;
  font-size: 19px;
  line-height: 1.7;

  color: var(--text-col);
}

.Editor-content ::selection {
  background-color: var(--text-highlight);
}

.Editor-content p {
  margin: 0;
  padding: 0;
}

.Editor-content h1, h2 {
  margin: 0;
  padding: 0;
}
