@font-family {
  font-family: "Avenir Next";
  src: url('./fonts/avenir_next/AvenirNextLTPro-Regular.otf') format('otf');
}

.Editor-screen {
  max-height: 100vh;
  display: flex;
  flex-direction: column;
}

.Editor {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.Editor-content {
  flex: 1;
  max-width: 800px;
  margin: 0 auto;
  font-size: 18px;
  font-family: "Times New Roman";
}

.Editor-content p {
  margin: 0;
  padding: 0;
}

.Editor-content h1, h2 {
  margin: 0;
  padding: 0;
}

.Editor-content h1, h2 {
  text-align: left !important; /* wtf */
}
