.grid-container {
  width: 100%;
  height: 90vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, 15rem);
  grid-template-rows: repeat(auto-fill, 15rem);
  grid-gap: 1rem 1rem;
}

.sortable-ghost {
  visibility: hidden;
}

.sortable-drag {
  opacity: 1 !important;
}

.grid-item {
  min-width: 200px;
  min-height: 200px;

  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  font-family: Avenir;
  border: 1px solid var(--border1);
  background-color: var(--bg-col);
  padding: 10px;
  margin: 20px;

  transition: box-shadow 0.25s;
}

.grid-item:hover {
}

.grid-item-header {
  background-color: var(--bg-col-darker);

  .delete {
    padding: 5px;
    float: right;
  }
}

.grid-item h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

.grid-item-link {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.grid-item-content {
  h4 {
    font-size: 20px;
    margin: 0;
  }
}

.grid-item-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  font-size: 10px;
  font-family: sans-serif;
  color: var(--text-col-lighter);

  p {
    vertical-align: bottom;
  }
}

.grid-create-error {
  color: red;
}