.grid-container {
  width: 100%;
  height: 90vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, 10rem);
  grid-template-rows: repeat(auto-fill, 10rem);
  grid-gap: 1rem 1rem;
}

.grid-item {
  border: 1px solid grey;
}

/* remove? */
.grid-item h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

.grid-item-content {
  
}

.grid-create-error {
  color: red;
}