.GridItemName {
  display: grid;
  max-width: 100%;
  grid-template-columns: 90% 10%;
  align-items: center;

  input {
    background: transparent;
    border: none;
    font-family: inherit;
    font-size: 20px;
  }

  img {
    width: 15px;
  }

  .img-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 10px;
  }

  .img-container:hover {
    z-index: 12;
    cursor: pointer;

    img {
      opacity: 0.9;
    }
  }
}